<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edits</title>
</head>
<body>
    <!-- THIS IS WHERE YOU MAKE EDITS -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Utah</h2>
            <p>Edit a Record</p>
          </div>
          <style>
            .mystyle
            {
              width: 800px; 
              margin-left: auto; 
              margin-right: auto
            }
          </style>
          <div id="search">
    <form action="/editRecord" method="POST">
        <fieldset style="width: 0px;">
            <legend>Edit Record:</legend>
                <input type="hidden" value="<%= people[0].people_id %>" name="people_id"/>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" value="<%= people[0].last_name %>" name="last_name">
                <br><br>
                <label for="first_name">First name:</label>
                <input type="text" id="first_name" name="first_name" value="<%= people[0].first_name %>">
                <br><br>
                <button type="submit">Save</button>
        </fieldset>
    </form>
        </div>
        
        </div>
    </section>
    <!-- End Team Section -->
</body>
</html>